.head {
  background: url('./img/Rectangle 6.jpg') center center/cover no-repeat;
  height: 1000px;
  padding-top: 30px;
}
.container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
}
.nav {
  display: flex;
  align-items: center;
  column-gap: 65px;
}
.nav .img {
  width: 223px;
  height: 60px;
  margin-left: 95px;
}
.nav .navigation-wrapper {
  display: flex;
  column-gap: 56px;
}

.navigation {
  color: #ffffff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
}
.single {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  margin-top: 322px;
  color: #ffffff;
}
.song {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  margin-top: 25px;
}
.img-player {
  margin-top: 75px;
}
.article {
  background-color: #1c1b21;
  padding-bottom: 179px;
  position: relative;
}
.article .article_wrapper {
  display: flex;
  justify-content: space-between;
}
.article .article_wrapper .article_item {
  width: 350px;
  text-align: center;
  position: relative;
}
.article .article_wrapper .article_item .article_img {
  width: 350px;
  height: 300px;
}
.article .article_wrapper .article_item .purple {
  width: 350px;
  min-height: 90px;
  position: absolute;
  background: #7a66cc;
  opacity: 0.7;
  border-radius: 20px 0px;
  text-align: left;
  padding: 21px 20px;
  top: 210px;
  left: 0;
}
.article .article_wrapper .article_item .article_descr {
  color: #ffffff;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.lights{
  height: 645px;
  background-color: #1c1b21;
}
.bright{
  color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}
.bright::before{
  content: url(./details/Group\ 31.png);
  margin-right: 30px;
}
.lights .lights-descr{
  width: 540px;
  height: 312px;
  color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 60px 125px 61px 0;
}
.bottom{
  display: grid;
  width: 540px;
  grid-template-columns: repeat(2, auto);
  column-gap: 40px;
  row-gap: 30px;
}
.bottom-descr{
  color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  padding: 0px 0px 0px 50px;
  min-width: 146px;
  min-height: 27px;
}
.bottom-descr::before{
  content: url(./details/Rectangle\ 12.png);
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
}
.container .lights-img{
  position: absolute;
  top: 66px;
  left: 665px;
}
.mtv{
  height: 665px;
  background-color: #1c1b21;
}
